
.DS_Store
match_samples/__pycache__/__init__.cpython-36.pyc
match_samples/__pycache__/__init__.cpython-36.pyc
match_samples/__pycache__/plugin_setup.cpython-36.pyc
match_samples.egg-info/top_level.txt
match_samples.egg-info/SOURCES.txt
match_samples.egg-info/PKG-INFO
match_samples.egg-info/not-zip-safe
match_samples.egg-info/entry_points.txt
match_samples.egg-info/dependency_links.txt
match_samples/__pycache__/__init__.cpython-36.pyc
match_samples/__pycache__/__init__.cpython-36.pyc
match_samples/__pycache__/__init__.cpython-36.pyc
match_samples/__pycache__ /__init__.cpython-36.pyc
match_samples/__pycache__ /match_samples.cpython-36.pyc
match_samples/__pycache__ /plugin_setup.cpython-36.pyc
match_samples/__pycache__ /match_samples.cpython-37.pyc
match_samples/__pycache__ /stand_alone_match_samples.cpython-36.pyc
match_samples/__pycache__/match_samples.cpython-36.pyc
*.ipynb
match_samples/__pycache__/match_functions.cpython-36.pyc
example_files/code_review_test.qzv
*.qzv
